/*white*/
/*brown*/
/*black*/
/*green*/
/*red*/
/*grey*/
/* line 3, ../sass/_header.scss */
.dropdown-menu,
.navbar-fixed-top {
  background-color: transparent;
}

/* line 8, ../sass/_header.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #523F38;
  background-color: transparent;
}

/* line 15, ../sass/_header.scss */
.searchBar {
  margin-top: 10px;
  min-width: 200px;
}

/* line 20, ../sass/_header.scss */
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Alegreya', serif;
}

/* line 29, ../sass/_header.scss */
.navbar-custom .navbar-brand {
  font-weight: 500;
}

/* line 33, ../sass/_header.scss */
.navbar-custom .nav li a,
.navbar-brand {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  /* line 42, ../sass/_header.scss */
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }

  /* line 46, ../sass/_header.scss */
  .navbar-custom .navbar-brand {
    color: #523F38;
    padding: 20px;
  }

  /* line 50, ../sass/_header.scss */
  .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    color: #4C5454;
  }

  /* line 53, ../sass/_header.scss */
  .navbar-custom .nav li a {
    color: #523F38;
    padding: 20px;
  }

  /* line 57, ../sass/_header.scss */
  .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  /* line 63, ../sass/_header.scss */
  .navbar-custom {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
  }

  /* line 76, ../sass/_header.scss */
  .navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    background-color: transparent;
    border-bottom: none;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    background: transparent;
  }

  /* line 86, ../sass/_header.scss */
  .navbar-custom.is-fixed .navbar-brand {
    color: #523F38;
  }

  /* line 89, ../sass/_header.scss */
  .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
    color: #4C5454;
  }

  /* line 92, ../sass/_header.scss */
  .navbar-custom.is-fixed .nav li a {
    color: #523F38;
  }

  /* line 95, ../sass/_header.scss */
  .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
    color: #4C5454;
  }

  /* line 98, ../sass/_header.scss */
  .navbar-custom.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  /* line 106, ../sass/_header.scss */
  .search {
    width: 200px;
  }
}
/* line 111, ../sass/_header.scss */
footer {
  padding: 5px 0 5px;
  height: 80px;
  max-height: 10%;
}

/* line 117, ../sass/_header.scss */
footer .list-inline {
  margin: 0;
  padding: 0;
}

/* line 122, ../sass/_header.scss */
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

/*white*/
/*brown*/
/*black*/
/*green*/
/*red*/
/*grey*/
/* line 4, ../sass/main.scss */
body {
  margin-top: 60px;
}

/* line 8, ../sass/main.scss */
.default {
  color: #FFFFFF;
}

/* line 12, ../sass/main.scss */
.primary {
  color: #523F38;
}

/* line 16, ../sass/main.scss */
.info {
  color: #4C5454;
}

/* line 20, ../sass/main.scss */
.success {
  color: #1EA896;
}

/* line 24, ../sass/main.scss */
.warning {
  color: #FF715B;
}

/* line 28, ../sass/main.scss */
.danger {
  color: #f42100;
}

/* line 32, ../sass/main.scss */
.grey {
  color: #BBBBBB;
}

/* line 36, ../sass/main.scss */
.bg-default {
  background-color: #FFFFFF;
}

/* line 40, ../sass/main.scss */
.bg-primary {
  background-color: #523F38;
}

/* line 44, ../sass/main.scss */
.bg-info {
  background-color: #4C5454;
}

/* line 48, ../sass/main.scss */
.bg-success {
  background-color: #1EA896;
}

/* line 52, ../sass/main.scss */
.btn-default {
  color: #523F38;
  border-color: #342823;
}

/* line 57, ../sass/main.scss */
.btn-primary {
  color: #FFFFFF;
  background-color: #523F38;
  border-color: #342823;
}

/* line 63, ../sass/main.scss */
.btn-primary:hover {
  background-color: #342823;
  border-color: #342823;
}

/* line 68, ../sass/main.scss */
.btn-success {
  color: #FFFFFF;
  background-color: #1EA896;
  border-color: #167d6f;
}

/* line 74, ../sass/main.scss */
.btn-success:hover {
  background-color: #167d6f;
}

/* line 78, ../sass/main.scss */
.btn-info {
  color: #FFFFFF;
  background-color: #4C5454;
  border-color: #343939;
}

/* line 84, ../sass/main.scss */
.btn-info:hover {
  background-color: #343939;
  border-color: #343939;
}

/* line 89, ../sass/main.scss */
.btn-warning {
  color: #FFFFFF;
  background-color: #FF715B;
  border-color: #ff4528;
}

/* line 95, ../sass/main.scss */
.btn-warning:hover {
  background-color: #ff4528;
  border-color: #ff4528;
}

/* line 100, ../sass/main.scss */
.btn-danger {
  color: #FFFFFF;
  background-color: #f42100;
  border-color: #c11a00;
}

/* line 106, ../sass/main.scss */
.btn-danger:hover {
  background-color: #c11a00;
  border-color: #c11a00;
}
