.form-control {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.heading {
	padding-bottom: 47px;
}

section {
	padding-bottom: 50px;
}

section #form {
	padding: 50px;
}

#bag-size {
	/*float: right;*/
}

.btn {
	margin-top: 10px;
}