.navbar-nav>li>.dropdown-menu {
	background-color: #222;
	border: 1px solid #fed316;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #fed316;
}

.navbar-default.nav-nothome {
	background-color: #222;
}

/*.panel-default>.panel-heading {
	background-color: #0f8b8d;
}

.panel-title {
	color: #222;
}

#overall {
	color: #222;
}
*/

tbody {
	overflow-y: hidden;
}

td.coffee-name {
	min-width: 120px;
}

td.region-name {
	min-width: 110px;
}

tr {
	max-height: 50px;
}

.region-photos {
	margin-left: px auto;
	margin-right: auto;
}

.region-pic {
	margin: 10px;
}

/*<div style="position: absolute; bottom: 0; left: 0.5em; width: 400px; font-weight: bold; color: #fff;">*/

p.region-name {
	text-transform: uppercase;
	font-size: 2em;
	position: absolute;
	top: 280px;
	left: 1em;
	width: 100%;
	color: #fed316;
	margin-left: 10px;
}

h1#regions-header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}