.navbar-nav>li>.dropdown-menu {
	background-color: #222;
	border: 1px solid #fed316;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #fed316;
}

.navbar-default.nav-nothome {
	background-color: #222;
}

tbody {
	overflow-y: hidden;
}

td.coffee-name {
	min-width: 120px;
}

td.region-name {
	min-width: 110px;
}

tr {
	max-height: 50px;
}

tbody > tr:hover a {
	color: #fed316;
}

td > a:hover {
	color: #fed316;
	text-decoration: underline;
}

td a {
	color: #222;
	font-style: italic;
}

.region-photos {
	margin-left: auto;
	margin-right: auto;
}

.region-pic {
	padding: 10px;
	margin: 10px;
}

p.region-name {
	text-transform: uppercase;
	font-size: 2em;
	position: absolute;
	top: 70%;
	left: 1em;
	width: 100%;
	color: #fed316;
	margin-left: 10px;
}

h1#regions-header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.fancy {
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.yellow {
	color: #fed316;
}

.brown {
	color: #222;
}

.danger {
	color: #a32b34;
}

.success {
	color: #2ebe62;
}

.bg-yellow {
	background-color: #fed316;
}

.bg-brown {
	background-color: #222;
}

.bg-danger {
	background-color: #a32b34;
}

.bg-success {
	background-color: #2ebe62;
}

label.fancy {
	margin-top: 10px;
}

.btn {
	margin-top: 10px;
}

.btn.btn-default {
	color: #222;
	border: 1px solid #222;
}

.btn-default:hover,
.btn-default:focus {
	color: #fed316;
	background-color: #222;
}

.btn-awesome {
	background-color: #222;
	color: #fed316;
}

.btn-awesome:hover,
.btn-awesome:focus {
	background-color: #fed316;
	color: #222;
	border: 1px solid #222;
}

.btn-info {
	color: #222;
	background-color: #fed316;
	border: 1px solid #fed316;
}

.btn-info:hover,
.btn-info:focus {
	background-color: #fff;
	color: #fed316;
	border: 1.5px solid #fed316;
}

.invite-btn {
	margin-top: 5px;
}

.invite-label {
	margin-top: 5px;
}

.search {
	margin-bottom: 10px;
}

@media(min-width:320px) {
	.search {
		max-width: 100%;
	}
}

@media(min-width:993px) {
	.search {
		float:left;
		max-width: 25%;
	}
}

.review-btn {
	float: right;
	margin-top: 0px;
}

.display-inline {
	display: inline;
}

.float-r {
	float: right;
}

button.btn-delete {
	background-color: transparent;
	border: none;
}

.delete-account {
	position: absolute;
	bottom: 100px;
}

.my-reviews {
	margin-bottom: 50px;
}