.navbar-nav>li>.dropdown-menu {
	background-color: #222;
	border: 1px solid #fed316;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #fed316;
}

.navbar-default.nav-nothome {
	background-color: #222;
}

/*.panel-default>.panel-heading {
	background-color: #0f8b8d;
}

.panel-title {
	color: #222;
}

#overall {
	color: #222;
}
*/