@import 'variables';

.dropdown-menu,
.navbar-fixed-top {
    background-color: transparent;
}

.navbar-default .navbar-nav > .open> a, 
.navbar-default .navbar-nav > .open> a:focus, 
.navbar-default .navbar-nav > .open> a:hover {
    color: $primary;
    background-color: transparent; 
}

.searchBar {
	margin-top: 10px;
	min-width: 200px;
}

.navbar-custom {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:3;
    font-family: 'Alegreya', serif;
}

.navbar-custom .navbar-brand {
    font-weight:500
}

.navbar-custom .nav li a,
.navbar-brand {
    text-transform:uppercase;
    font-size:12px;
    font-weight:800;
    letter-spacing:1px
}

@media only screen and (min-width:768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom .navbar-brand {
        color: $primary;
        padding:20px;
    }
    .navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus {
        color: $info;
    }
    .navbar-custom .nav li a {
        color: $primary;
        padding:20px
    }
    .navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus {
        color:rgba(255,255,255,.8)
    }
}

@media only screen and (min-width:1170px) {
    .navbar-custom {
        -webkit-transition:background-color .3s;
        -moz-transition:background-color .3s;
        transition:background-color .3s;
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        -o-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        background-color: transparent;
    }
    .navbar-custom.is-fixed {
        position:fixed;
        top:-61px;
        background-color: transparent;
        border-bottom:none;
        -webkit-transition:-webkit-transform .3s;
        -moz-transition:-moz-transform .3s;
        transition:transform .3s;
        background:transparent;
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: $primary;
    }
    .navbar-custom.is-fixed .navbar-brand:hover,.navbar-custom.is-fixed .navbar-brand:focus {
        color: $info;
    }
    .navbar-custom.is-fixed .nav li a {
        color: $primary;
    }
    .navbar-custom.is-fixed .nav li a:hover,.navbar-custom.is-fixed .nav li a:focus {
        color: $info;
    }
    .navbar-custom.is-visible {
        -webkit-transform:translate3d(0,100%,0);
        -moz-transform:translate3d(0,100%,0);
        -ms-transform:translate3d(0,100%,0);
        -o-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }

    .search {
        width: 200px;
    }
}

footer {
    padding:5px 0 5px;
    height: 80px;
    max-height: 10%;
}

footer .list-inline {
    margin:0;
    padding:0;
}

footer .copyright {
    font-size:14px;
    text-align:center;
    margin-bottom:0;
}