$default: 	#FFFFFF; /*white*/
$primary:	#523F38; /*brown*/
$info:		#4C5454; /*black*/
$success:	#1EA896; /*green*/
$warning:	#FF715B; /*red*/
$danger:	darken($warning, 20%);
$grey:		#BBBBBB; /*grey*/



