@import 'header';
@import 'variables';

body {
	margin-top: 60px;
}

.default {
	color: $default;
}

.primary {
	color: $primary;
}

.info {
	color: $info;
}

.success {
	color: $success;
}

.warning {
	color: $warning;
}

.danger {
	color: $danger;
}

.grey {
    color: $grey;
}

.bg-default {
	background-color: $default;
}

.bg-primary {
	background-color: $primary;
}

.bg-info {
	background-color: $info;
}

.bg-success {
	background-color: $success;
}

.btn-default {
	color: $primary;
	border-color: darken($primary, 10%);
}

.btn-primary {
	color: $default;
	background-color: $primary;
	border-color: darken($primary, 10%);
}

.btn-primary:hover {
	background-color: darken($primary, 10%);
	border-color: darken($primary, 10%);
}

.btn-success {
	color: $default;
	background-color: $success;
	border-color: darken($success, 10%);
}

.btn-success:hover {
	background-color: darken($success, 10%);
}

.btn-info {
	color: $default;
	background-color: $info;
	border-color: darken($info, 10%);
}

.btn-info:hover {
	background-color: darken($info, 10%);
	border-color: darken($info, 10%);
}

.btn-warning {
	color: $default;
	background-color: $warning;
	border-color: darken($warning, 10%);
}

.btn-warning:hover {
	background-color: darken($warning, 10%);
	border-color: darken($warning, 10%);
}

.btn-danger {
	color: $default;
	background-color: $danger;
	border-color: darken($danger, 10%);
}

.btn-danger:hover {
	background-color: darken($danger, 10%);
	border-color: darken($danger, 10%);
}