@import 'variables'
@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';

.default {
	color: $default1;
}

.primary {
	color: $primary1;
}

.success {
	color: $success1;
}

.warning {
	color: $warning1;
}

.danger {
	color: $danger1;
}