@import 'variables';
@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';

.default {
	color: $default;
}

.primary {
	color: $primary;
}

.success {
	color: $success;
}

.warning {
	color: $warning;
}

.danger {
	color: $danger;
}

.grey {
    color: $grey;
}

.btn-default {
	color: $primary;
	border-color: darken($primary, 10%);
}

.btn-primary {
	color: $default;
	background-color: $primary;
	border-color: darken($primary, 10%);
}

.btn-primary:hover {
	background-color: darken($primary, 10%);
	border-color: darken($primary, 10%);
}

.btn-success {
	color: $default;
	background-color: $success;
	border-color: darken($success, 10%);
}

.btn-success:hover {
	background-color: darken($success, 10%);
}

.btn-info {
	color: $default;
	background-color: $primary;
	border-color: darken($primary, 10%);
}

.btn-info:hover {
	background-color: darken($primary, 10%);
	border-color: darken($primary, 10%);
}

.btn-danger {
	color: $default;
	background-color: $danger;
	border-color: darken($danger, 10%);
}

.btn-danger:hover {
	background-color: darken($danger, 10%);
	border-color: darken($danger, 10%);
}